.App {
  text-align: center;



}


.nav{
  height: '50px' ;
}

#mainimage{
  pointer-events: none ;

}


#kanva{
  ;
}

#central { position:relative;  }
#central canvas { position:absolute; top:0; left:0; background-size: 100% 100%; }


.close-button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: color 0.4s ease;
}

.close-button:hover {
  color: red;
}



#objectz , #lezobjet , #infoz , #zcrops{
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

#objectzName {
  size: 22px;
  width: 110px;
}